.container {
  width: 600px;
  height: 600px;
  background-color: rgb(153, 133, 133);
  margin: 0 auto;

  box-shadow: 2px 2px 0 #333;
}

.books {
  list-style: none;
  padding: 0;
  margin: auto;
}

.list-items {
  color: #fff;
  width: 90%;
  padding: 10px;
  margin: 20px auto;

  border: 2px solid #333;

  font-size: 25px;
  font-weight: 700;
}
